@import url(/src/assets/reset.css);


.header{
    background-color: var(--black);
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 400;
    padding: 1em;
    font-size: 1.5em;
}
