
@import url(/src/assets/base.css);
@import url(/src/assets/reset.css);
:root {
    --black: #303030;
    --tipo-principal: 'Montserrat', sans-serif;
    --tipo-secundaria: Montserrat;
    --radio-buttons: "0.3em";
  }
.header{
    background-color: var(--black);
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 400;
    padding: 1em;
    font-size: 1.5em;
}
.max-width {
    max-width: 900px;
    margin: 0 auto;
  }